<div class="panel-body ">
    <div class="row">
        <div class="text">
            <h1>Experiencia Laboral </h1>
            <div *ngIf="userLogged |async as user">
            <a class="button" routerLink="/newExp">Agregar experiencia</a>
           </div>
        </div>

        <div>
            <ul>
                <br>
                <ng-container *ngFor="let Experiencia of experiencias">
                    <li>
                        <h2>{{Experiencia.empresa}}</h2>
                        <h3>({{Experiencia.fecha_inicio}} - {{Experiencia.fecha_fin}})</h3>
                    </li>
                    <h4>{{Experiencia.cargo}}</h4>
                    <h5>{{Experiencia.descripcion}}</h5>
                    <br>
                    <div class="">
                        <div *ngIf="userLogged |async as user">
                            <a class="btn bi-pencil-square" id="btn-edit-exp" routerLink="/editar-experiencia/{{Experiencia.id}}">
                              <i class="fa fa-pencil"></i>
                            </a>
                            <button (click)="eliminar_experiencia(Experiencia.id)" class="btn btn-secondary">
                            X
                        </button>
                        <br>
                        <br>
    </div>